/* KEYFRAMES PARA ANIMAÇOES */

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes piscar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes abrir_secao {
    from {
        transition: 0.5s;
        transform: translate3d(60px, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}
