header > nav > i#menu { /* Menu hamburguer desativado */
    display: none;
    color: #dbdbdb;
    font-size: 3rem;
    margin-top: 15px;
    min-width: 40px;
}

@media(max-width: 1000px) {

    header nav .navegacao-primaria {
        display: none;
    }

    header > nav > i#menu { 
        display: block;
    }

    header nav .navegacao-primaria.on {
        background-color: #706e6e3a;
        display: flex;
        position: absolute;
        top: 85px;
        flex-direction: column;
        z-index: 5;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 30px 30px;
        right: 25px;
        animation: abrir_secao .35s ease-in-out forwards;
    }
   
    section.apresentacao {
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        padding: 20px;
    }

    section.apresentacao div {
        align-items: flex-start;
        text-align: left;
    }

    section.apresentacao img {
        display: none;
    }

    section.apresentacao div p {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: #F7F7F7F7;
        width: 100%;
        max-width: 500px;
    }

    .digitando {
        font-size: 1rem;
        display: inline-block;
        white-space: normal; /* permite quebra */
        overflow-wrap: break-word;
        overflow: hidden;
        width: 100%;
        min-height: 4em;
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }
    .sobre-conteudo {
        grid-column: 1/-1;
    }

    .sobre_info {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/-1;
        gap: 30px;
        align-items: center;
        font-size: 0.9rem;
    }

    .meus-servicos {
        padding: 20px;
        color: #dbdbdb;
    }

    .meus-servicos ul {
        flex-direction: column;
        gap: 30px;
    }

    .meus-servicos ul li {
        max-width: none;
        height: 100%;
        width: 100%;
    }
}
