@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    animation: inicializar 1s forwards;
    background-color: #000;
}

/*  HEADER - INÍCIO */
header {
    display: flex;
    background-color: #000;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

header > h1 {
    color: #dc3545;
    font-size: 2.5rem;
}

header > h1 > span {
    color: #FFF;
}

header nav > .navegacao-primaria {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a {
    color:#FFF;
    width: 0px;
    height: 0px;
    font-size: 1.5rem;
}

header .navegacao-primaria li a::after {
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    transition: .8s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #dc3545;
}

/* TALVEZ PRECISE DE GRID */

section.apresentacao {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 250px;
}

section.apresentacao div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.apresentacao h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100%;
    color: #F7F7F7F7;
}

section.apresentacao div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #F7F7F7F7;
    width: 100%;
    max-width: 350px;
}

section.apresentacao div a {
    color: #F7F7F7F7;
    width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    border: 0.1px solid white;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

section.apresentacao div a:hover {
    background-color: #dbdbdb;
    color: #1d1d1d;
    width: 150px;
    padding: 15px;
    border: 0.1px solid white;
    border-radius: 20px;
    justify-self: start;
    transition: 0.5s;
}

section.apresentacao img {
    margin-bottom: 40px;
    border-bottom: 2px solid white;
    box-shadow: 0px 8px 15px #dc3545; /* sombra abaixo */
    width: 25%;
    height: 35%;
}

.digitando {
    font-size: 4rem;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 15ch;
    min-height: 5em;
}

.digitando::after {
  content: '|';
  margin-left: 7px;
  opacity: 1;
  animation: piscar 0.8s infinite;
}

/* SEÇÂO PRINCIPAL SOBRE MIM */

main {
    background-color: #111;
    color: #dbdbdb;
}

main .sobre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    padding: 40px;
    margin-top: 60px;
}

.sobre_titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.sobre_titulo span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}

.sobre img {
    cursor: pointer;
    grid-row: 2;
    height: 100%;
    width: 100%;
    filter: blur(0);
    transition: 0.5s;
    border-bottom: 2px solid white;
}

.sobre img:hover {
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    filter: blur(2px);
    transition: 0.5s;
}

.sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/-1;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    gap: 15px;
}

.sobre_texto h1 {
    font-size: 2.3rem;
    font-family: 'Poppins', sans-serif;
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    content: '';
    background-color: #dc3545;
    height: 6px;
    width: 200px;
    margin: 20px 0;
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 30px;
    align-items: center;
    font-size: 1.5rem;
}

/* AREA DE SERVIÇOS */

.services {
    margin-top: -30px;
    padding: 20px;
}

.meus-servicos {
    padding: 60px;
    color: #dbdbdb;
}

.meus-servicos ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.meus-servicos ul li {
    display: flex;
    padding: 30px;
    border-radius: 6px;
    flex-direction: column;
    gap: 25px;
    background-color: #363636;
    text-align: center;
    align-items: center;
    max-width: 500px;
    height: 400px;
    width: 100%;
    border: 1px solid transparent;
    transition: .5s;
}

.meus-servicos ul li:hover{
    border: 1px solid #dc3545;
    transition: .5s;
}

.meus-servicos ul li i {
    font-size: 2.3rem;
    color: #dc3545;
}

.meus-servicos ul li h3 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

.meus-servicos ul li p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}